{% extends 'home/base.html' %}
{% block title %}{{article.name}}{% endblock %}
{% block content %}
<div class="columns">
    <div class="column is-10 is-offset-1">
        <article class="columns is-multiline">
            <div class="column is-12 post-img">
                <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image" />
            </div>
            <div class="column is-12 featured-content">
                <h3 class="heading post-category">{{article.category.name}}</h3>
                <h1 class="title post-title">{{article.name}}</h1>
                <p class="post-excerpt">{{article.content}}</p>
            </div>
        </article>
    </div>
</div>
{% endblock %}
