{% extends 'home/base.html' %} {% block content %}
<div class="d-flex align-items-center" style="height: 100%;">
    <div class="container text-center text-light">
        <h1 class="cover-heading">Welcome on Django website !</h1>
        <p class="lead">Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.</p>
        <p class="lead">
            <a href="/content" class="btn btn-light">Discover more</a>
        </p>
    </div>
</div>
{% endblock %}
