{% extends 'base.html' %} 
{% block title %}Welcome on Bulma R&D !{% endblock %}
{% block content %}
<div class="columns">
    <div class="column is-10 is-offset-1">
        <div class="columns is-multiline">
            {% for article in articles %}
            <div class="column post is-4 p-4">
                <article class="columns is-multiline">
                  <div class="column is-12 post-img">
                    {% if article.image %}
                        <img src="{{ article.image.url }}" alt="Featured Image">
                    {% else %}
                        <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
                    {% endif %}
                  </div>
                  <div class="column is-12 featured-content">
                    <h3 class="heading post-category">{{article.category.name}}</h3>
                    <h1 class="title post-title">{{article.name}}</h1>
                    <p class="post-excerpt">{{article.content}}</p>
                    <br>
                    <a href="{% url 'article' article.id %}" class="button is-primary">Read More</a>
                  </div>
                </article>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}