{% extends 'base.html' %} {% block title %}Contact us{% endblock %} {% block content %}
<div class="container my-5 mt-5 mx-5 px-5">
    {% if messages %}
    <ul class="messages">
        {% for msg in messages %}
        <li {% if message.tags %} class=" {{ msg.tags }} " {% endif %}>{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %} 
        <!-- {{ form.as_p }} -->
        <div class="field">
            <label for="first_name" class="label is-size-4 has-text-weight-light"></label>
            <div class="control has-icons-left">
                <input type="text" name="first_name" id="first_name" class="input" placeholder="First name" autofocus>
                    <span class="icon is-left">
                        <i class="fa fa-user"></i>
                    </span>
            </div>
        </div>
        <div class="field">
            <label for="last_name" class="label is-size-4 has-text-weight-light"></label>
            <div class="control has-icons-left">
                <input type="text" name="last_name" id="last_name" class="input" placeholder="Last name" autofocus>
                    <span class="icon is-left">
                        <i class="fa fa-user"></i>
                    </span>
            </div>
        </div>
        <div class="field">
            <label for="email_address" class="label is-size-4 has-text-weight-light"></label>
            <div class="control has-icons-left">
                <input type="email" name="email_address" id="email" class="input" placeholder="Email">
                    <span class="icon is-left">
                        <i class="fa fa-envelope"></i>
                    </span>
            </div>
        </div>
        <div class="field">
            <label for="message" class="label is-size-4 has-text-weight-light"></label>
            <textarea name="message" id="message" rows="5" class="textarea is-medium" placeholder="Message"></textarea>
        </div>
        <div class="field has-text-centered">
            <button type="submit" class="button is-success is-size-5">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
